.latest-events-feed--event-content {
    margin-top: 0.25em !important;
}

.latest-events-feed--event-summary {
    font-weight: 400 !important;
}

.latest-events-feed--event-date {
    font-size: .85714286em !important;
}

.latest-events-feed--event-date:hover {
    cursor: default;
}

.latest-events-feed--event--enter {
    opacity: 0.01;
}

.latest-events-feed--event--enter.latest-events-feed--event--enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}