.latest-events-feed--content {
    margin-top: 0.25em !important;
}

.latest-events-feed--summary {
    font-weight: 400 !important;
}

.latest-events-feed--date {
    font-size: .85714286em !important;
}

.latest-events-feed--popup-trigger {
    cursor: help;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
}