.panel-status-table--wrapper {
    overflow-x: auto;
}

.panel-status-table--data-cell {
    white-space: nowrap;
}

.panel-status-table--data-cell a:hover {
    cursor: pointer;
}

@media (max-width: 767px) {
    .panel-status-table--table .buttons {
        margin: 0 0.25rem 1rem 0;
    }

    .panel-status-table--table .right.floated.button {
        float: none;
        margin-left: 0;
    }
}